.offer_list
  .item
    position:relative
    width:95%
    margin:10px auto
    .distance
      background:rgba(255,255,255,0.5)
      color:#333
      text-shadow:0px 0px 3px rgba(0,0,0,0.7)
      padding:3px 10px
      position:absolute
      bottom:6px 
      right:3px
      box-shadow:0px 0px 5px rgba(0,0,0,0.4)
    img.landing
      margin-top:5px
      width:100%
      box-shadow:0px 0px 10px rgba(0,0,0,1)
    img.store_logo
      float:left
      max-height:40px
    .name,.points
      float:right
      text-align:left
      font-size:14px
      font-family: 'Abel', sans-serif
      font-size:18px
      color:black
    .points
      clear:right
.loading
  margin:50px 15%
  position:absolute
  width:70%
  text-align:center
  border-radius:10px 10px 10px
  box-shadow:0px 0px 5px rgba(0,0,0,0.3)
  padding:10px
  border:1px solid #ccc
.scroll-wrapper
  position:absolute
  height:100%
  width:100%
  text-align:center
  .scroller
    padding-bottom:30px
.offer_show
  .title
    padding:5px
    position:absolute
    border-bottom:1px solid #ccc
    top:3px 
    left:5px
    font-size:14px
    text-shadow:0px 0px 2px rgba(0,0,0,0.3)
  .name
    text-align:left
    font-family: 'Abel',sans-serif
    margin:10px
    font-size:18px
    padding-bottom:5px
    border-bottom:1px solid #ccc
    text-shadow:0px 0px 2px rgba(0,0,0,0.3)
  .details
    position:relative;
    font-size:13px
    padding:25px 10px 10px 10px
    margin:10px
    text-align:left
    background:rgba(255,255,255,0.3)
    box-shadow:0px 0px 3px rgba(0,0,0,0.3)
  .description
    position:relative;
    font-size:13px
    padding:20px 10px 10px 10px
    margin:10px
    text-align:left
    background:rgba(255,255,255,0.3)
    box-shadow:0px 0px 3px rgba(0,0,0,0.3)
  .map
    position:relative;
    font-size:13px
    padding:40px 10px 10px 10px
    margin:10px
    text-align:left
    background:rgba(255,255,255,0.3)
    box-shadow:0px 0px 3px rgba(0,0,0,0.3)
    img
      width:280px
      height:260px
      box-shadow:0px 0px 7px rgba(0,0,0,0.3)
  .offer_pictures
    margin-left:10px
    float:left
    position:relative
    .image_loading
      background:rgba(255,255,255,0.5)
      color:black
      padding:5px 15px
      display:none
      position:absolute
      left:100px
      top:80px
    .price_info
      color:black
      position:absolute
      right:-3px
      height:170px
      top:0px
      .slice
        min-width:50px
        background:rgba(255,255,255,0.6)
        box-shadow:0px 0px 5px rgba(0,0,0,0.5)
        padding:10px
        color:#333
        float:right
        clear:right
        font-size:18px
        margin-top:5px
        font-family: 'Abel', sans-serif
        span
          font-size:14px
        &.original_price
          font-size:18px
          text-decoration:line-through
    img.main
      width:290px
      height:179px
      float:left
      border:1px solid #ccc
      box-shadow:0px 0px 5px rgba(0,0,0,0.5)
    .thumb-pictures
      float:left
      margin-top:10px
      clear:left
      img
        padding:3px
        border:1px solid #ccc
        box-shadow:0px 0px 5px rgba(0,0,0,0.5)
        height:38px
        width:57px
        margin:3px
.clear
  clear:both
#offers_map
  height:400px
  width:320px

.order_item
  padding:5px 10px
  box-shadow:0px 0px 5px rgba(0,0,0,0.4)
  border:1px solid #ccc
  margin:10px
  .offer_picture
    float:left
    margin-top:10px
    width:100px
    height:65px
    box-shadow:0px 0px 4px rgba(0,0,0,0.3)
   .offer
     border-bottom:1px solid #ccc
     padding-bottom:3px
   .price
     margin-top:10px
   .info
     margin-left:120px
     margin-bottom:5px
     label
       display:inline-block
       width:70px
.reward_item
  padding:5px 10px
  box-shadow:0px 0px 5px rgba(0,0,0,0.4)
  border:1px solid #ccc
  margin:10px
  .reward_picture
    float:left
    margin-top:10px
    margin-bottom:10px
    width:100px
    height:65px
    box-shadow:0px 0px 4px rgba(0,0,0,0.3)
   .name
     border-bottom:1px solid #ccc
     padding-bottom:3px
   .redeemed
     color:white
     padding:5px 20px
     box-shadow:0px 0px 5px rgba(0,0,0,0.3)
     margin-left:10px
     margin-top:10px
     margin-bottom:10px
     display:inline-block
     &.true
       background-color:green
     &.false
       background-color:#EB6D38
   .checkin_times
     margin-left:120px
     margin-bottom:5px
     label
       display:inline-block
       width:90px
.login_info
  position:absolute
  width:70%
  margin:50px 15%
  text-align:center
  .buz_login
    border:none
    box-shadow:0px 0px 15px rgba(0,0,0,0.3)
    text-shadow:0px 0px 3px rgba(0,0,0,0.3)
    color:white
    border-radius:5px 5px 5px
    padding:7px 30px
    font-size:20px
    background-color:#314F85

.empty_info
  position:absolute
  width:70%
  padding:30px 10px
  margin:50px 15%
  text-align:center
  font-size:18px
  box-shadow:0px 0px 15px rgba(0,0,0,0.3)
  border-radius:8px 8px 8px
.buttons
  width:100%
  text-align:center
  height:100%
  .btn
    padding:5px 15px
    border-radius:5px 5px 5px
    width:100px
    text-align:center
    margin:4px 3px
    font-size:15px
    border:none
    color:white
    background-color:rgba(0,0,0,0)
    &.active
      -webkit-box-shadow:inset 0 -1px 1px rgba(0,0,0,0.30), inset 0 1px 1px 0 rgba(0,0,0,0.60), 0 1px 0 rgba(255,255,255,0.40)
      background-color:rgba(0,0,0,0.3)

.offer_actions
  padding:10px
  margin:10px
  border-radius:5px 5px 5px
  border:1px solid #ccc
  box-shadow:0px 0px 5px rgba(0,0,0,0.3)
  .checkin
    border:none
    box-shadow:0px 0px 15px rgba(0,0,0,0.3)
    text-shadow:0px 0px 3px rgba(0,0,0,0.3)
    color:white
    border-radius:5px 5px 5px
    padding:7px 30px
    font-size:20px
    background-color:#314F85
.reward_show
  .terms
    padding:20px
  .title
    font-size:20px
    margin:auto
    margin-top:10px
    margin-bottom:3px
  .subtitle
    background-color:#695FAC
    color:white
    width:200px;
    margin:auto
  p
    padding:0px 20px
  .actions
    margin-top:20px
  video
    width:300px
    height:200px
  .simple-video-wrapper
    box-shadow: 0 5px 15px rgba(0,0,0,0.4)
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4)
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4)
    height: 200px
    margin: 0 auto
    position: relative
    width: 300px

  .simple-video-overlay
    background: rgba(0,0,0,0.4) url(images/button_small.png) 50% 50% no-repeat
    cursor: pointer
    display: block
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
    z-index: 2

.share_btn
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe
	box-shadow:inset 0px 1px 0px 0px #97c4fe
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) )
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% )
	background-color:#3d94f6
	-moz-border-radius:6px
	-webkit-border-radius:6px
	border-radius:6px
	border:1px solid #337fed
	display:inline-block
	color:#ffffff
	font-family:arial
	font-size:23px
	font-weight:bold
	padding:7px 62px
	text-decoration:none
	text-shadow:1px 1px 0px #1570cd
  &:hover
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) )
    background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% )
    background-color:#1e62d0
  &:active
    position:relative
    top:1px

.head-section
  padding:10px
  padding-bottom:0px
  font-size:0.8em

.main_rewards
  ul
    padding:0px
    padding-left:10px
    list-style:none
    li
      float:left
      clear:left
      padding:10px 10px
      width:90%
      margin-bottom:10px
      box-shadow:0px 0px 3px rgba(0,0,0,0.3)
      span
        float:left
        font-size:1.2em
        margin-top:20px
        margin-left:20px
      img
        float:left
        width:80px

.share_rewards
  ul
    padding:0px 10px
    list-style:none
    li
      float:left
      clear:left
      img
        float:left
        width:80px
      span
        float:left
        margin-top:15px
        font-size:20px
        a
          display:block

